<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

    <!--<bean name="crv" class="io.pragra.learning.pragraplex.springiocdemo.Honda">
        <constructor-arg name="engine" value="Petrol Engine"/>
        <constructor-arg name="name" value="crv"/>
        <constructor-arg name="brake" ref="mechBrake"/>
    </bean>

    <bean name="civic" class="io.pragra.learning.pragraplex.springiocdemo.Honda">
        <constructor-arg name="engine" value="Diesel Engine"/>
        <constructor-arg name="name" value="Civic"/>
        <constructor-arg name="brake" ref="hydraulicBrake"/>
    </bean>

    <bean name="mechBrake" class="io.pragra.learning.pragraplex.springiocdemo.MechanicalBrake"/>
    <bean name="hydraulicBrake" class="io.pragra.learning.pragraplex.springiocdemo.HydraulicBrake"/>-->


    <!--<bean name="employee" class="io.pragra.learning.pragraplex.springiocdemo.Employee">
        <property name="firstName" value="Jay"/>
        <property name="lastName" value="Joshi"/>
    </bean>-->

    <bean name="mysql" class="io.pragra.learning.pragraplex.springiocdemo.DBConnection" init-method="establishConnection" destroy-method="disconnectConnection">
        <property name="url" value="jdbc:mysql://123.43.45.65:3306"/>
        <property name="username" value="root"/>
        <property name="password" value="root123"/>
    </bean>

    <bean id="student" class="io.pragra.learning.pragraplex.springiocdemo.Student">
        <constructor-arg name="id" value="10"/>
        <constructor-arg name="marks" value="90.0"/>
        <constructor-arg name="email">
            <set>
                <value>jay@gmail.com</value>
                <value>sachin@gmail.com</value>
                <value>sourav@gmail.com</value>
            </set>
        </constructor-arg>
        <constructor-arg name="studMap">
            <map>
                <entry key="Jay" value="10"/>
                <entry key="Sachin" value="20"/>
                <entry key="Sourav" value="30"/>
            </map>
        </constructor-arg>
    </bean>

</beans>